# Task 2

### 1. Consider the following list

In [1]:
fruits = ["apple", "banana", "cherry"]

#### Q1: Print the second item in fruits list

In [2]:
print(fruits[1])

banana

#### Q2: Change the value from "apple" to "kiwi"

In [3]:
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

#### Q3: Use the insert method to add "lemon" as the second item in the fruits list

In [4]:
fruits.insert(1,"lemon")
print(fruits)

['kiwi', 'lemon', 'banana', 'cherry']

#### Q4: Use negative indexing to print the last item in the list

In [5]:
print(fruits[-1])

cherry

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

####    
### 2. Consider the following list

In [6]:
fruits = ["apple","banan","cherry","orange","kiwi","melon","mango"]

#### Q: Use a range of indexes to print the third, forth, and fifth item in the given list

In [7]:
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

#### --------------------------------------------------------------------------------------------------------------------------------------

####    
### 3. Given the following list

In [8]:
nums = [100,200,300,400,500]

#### Q: Reverse the given list in Python

In [9]:
nums.reverse()
print(nums)

[500, 400, 300, 200, 100]

#### --------------------------------------------------------------------------------------------------------------------------------------

####  
### 4. Considering the following list:

In [10]:
nums = [10, 20,[300, 400, [5000, 6000],500],30,40]

#### Q: Add item 7000 after 6000 in the following Python list

In [11]:
nums[2][2].append(7000)
print(nums)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#### --------------------------------------------------------------------------------------------------------------------------------------

####   
### 5. Given the following dictionary:

In [12]:
emps_salaries = {"Ahmed":5000,"Samar":6500, "Hayam":5000, "Nagwa":4500}

#### a. How to check if an employee exists in the dictionary?
#### Ans: 1. Using the membership operator "in"

In [13]:
#Using the membership operator "in"
exist="Ahmed" in emps_salaries
exist

True

#### b. How to check if any of the employees' salary is 6000?

In [14]:
#Creating a list that contains the values of the dictionary
salaries = list(emps_salaries)
salary_exist = 6000 in salaries
salary_exist

False

#### c. Iterate over the emps_salaries using for loop and print each employee name and salary

In [15]:
for name, salary in emps_salaries.items():
    print("Name: {} \t Salary: {}".format(name,str(salary)))

Name: Ahmed 	 Salary: 5000
Name: Samar 	 Salary: 6500
Name: Hayam 	 Salary: 5000
Name: Nagwa 	 Salary: 4500

#### --------------------------------------------------------------------------------------------------------------------------------------

####  
## Bonus
### Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list: ["a", "b", ["c", ["d", "e", ["f", "g", "h", "i", "j"],"k"], "l"],"m","n"], given:

In [16]:
nums = ["a", "b", ["c", ["d", "e", ["f", "g"],"k"], "l"],"m","n"]
sub_list = ["h", "i","j"]

In [17]:
nums[2][1][2].extend(sub_list)
nums

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']